@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    background-color: rgb(34, 34, 34);
   
}
.header{
    max-width: 1440px;
    background-color: rgb(34, 34, 34);
}
.nav-parents-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20rem;
    margin-right: 22rem;  
}
.nav-anchor, a{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4px;
    border-radius: 39px;
    display: flex;
    gap: 3rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#home{
    border-radius: 1rem;
    background: rgb(230, 83, 60);
    padding: 0.5rem;
}
#humburger{
    display: none;
}
/* hero section styles */
.hero{
    display: flex;
    text-align: center;
    margin-left: 8rem;
    
}
#hero-h1{
color: rgb(255, 255, 255);
font-size: 6rem;
font-weight: 900;

}
.join-club{
    border-radius: 5rem;
    color: white;
    background: rgb(230, 83, 60);
    border: none;
    padding: 16px 40px 16px 40px;
}
#download-app{
box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 5rem;
background: black;
color: white;
padding: 16px 40px 16px 40px;
margin-left: 2rem;
}
.hero-img-badge1{
border-radius: 12px;
width: 120px;
bottom: 15rem;
left: 7rem;
padding: 20px;
background: rgba(48, 48, 48, 0.54);
text-align: center;
position: relative;
}
.hero-img-badge1 h1{
   margin: 0;
   background: none;
}
.hero-img-badge1 p{
    margin: 0;
    background: none ;
}
.hero-img-badge2{
width: 146px;
bottom: 33rem;
left: 24rem;
padding: 1px;
border-radius: 10px;
background: rgba(48, 48, 48, 0.54);
text-align: center;
position: relative;  
}
.hero-img-badge2 h1{
margin: 0;
background: none;
}
.hero-img-badge2 p{
    margin: 0;
    background: none;
    }
    
    /* change your habit section style */
    .habits{
        max-width: 1044px;
        background-color: rgb(34, 34, 34);
        border: none; 
        border-radius: 5px;
        text-align: center;
        margin-left: 158px;
    }
    .habits-sec-text{
        text-align: center;
        margin-bottom: 60px;
    }
    .habits-sec-text h1{
        font-weight: 900;
        font-size: 48px;
    }
    .movement-img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .time-img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .practice-img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .weight-loss-img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .habits-sec-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 6rem;
    }
    /* run-an-extra-mile section styles */
    .run-an-extra-mile{
        max-width: 1440px;
        margin-top: 5rem;
        border-radius: 18px;
        background: rgba(111, 10, 10, 0.781);
    }
    .run-img{
     width: 366px;
     height: 312px;
     margin-left: 3rem;
     top: 30px;
     border-radius: 5%;
    }
    .run-an-extra-mile-parents-div{
    display: flex;
    justify-content: center;
    border-radius: 18px;
     gap: 10px;
     
    }

    /* bmi */
 .BMI{
    max-width: 1440px;
 }

    table {
        margin-top: 20px;
        border-collapse: collapse;
    }
    
    table, th, td {
         border: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    th, td {
        padding: 10px;
        text-align: center;
    }
    
    thead {
        background-color: #4CAF50;
        color: white;
    }
    
    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
   .container{
    display: flex;
    justify-content: space-around;
   }
  .meat-our-team-img{
display: grid;
grid-template-columns: repeat(3, 2fr);
padding: 200px;
gap: 20;
justify-content: center;
align-items: center;
border-radius: 18px;
   }

/* responsive layout for 576px*/
@media screen and (max-width: 576px){
    .header{
        max-width: 100%;
    }
    .nav-anchor{
        display: none;
    }
    #humburger{
        display: inline-block;
       
    }
    .nav-parents-div{
        margin-left: 2rem;
        gap: 17rem;
    }
    .hero{
        display:grid ;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 1rem;
    }
    #hero-h1{
        font-size: 4rem;
    }
    .habits-sec-content{
        flex-direction: column;
        margin-left: 0.5rem;
    }
    .run-an-extra-mile-parents-div{
        display: flex;
        flex-direction: column;
    }
    .run-an-extra-mile-container-div{
        margin-left: 3rem;
    }
    .container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
   
}
/* responsive layout for 573px */
@media screen and (min-width:576px) {
    
    .nav-parents-div{
        margin-left: 5rem;
        margin-right: 1rem;
    }
    .hero{
        display:grid ;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 5rem;
    }
    .habits-sec-content{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        margin-left: 1rem;
    }
}
/* responsive layout for 992px */
@media screen and (min-width:900px) {
    
    .nav-parents-div{
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .hero{
        display:grid ;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 5rem;
    }
    
       
    }
    .habits-sec-content{
        display: flex;
    }
}